# Defines which files Git should ignore
# http://git-scm.com
*~
*.dylib
*.dll
*.exe
*.la
*.lo
*.o
*.pc
*.so
*.swp
.deps/
.dirstamp
.DS_Store
.libs/
.settings/
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
gmon.out
install-sh
libtool
ltmain.sh
m4
Makefile
Makefile.in
missing
nbproject
stamp-h1
test-driver
xcuserdata/
/Objectively.vs15/Debug
/Objectively.vs15/ipch
/Objectively.vs15/temp
/Objectively.vs15/*.user
/Objectively.vs15/.vs/Objectively/v15/*.suo
/Objectively.vs15/*.db
/Objectively.vs15/*.opendb
/Objectively.vs15/bin
