# Defines which files Git should ignore
# http://git-scm.com
*~
*.dylib
*.dll
*.exe
*.la
*.lo
*.o
*.pc
*.so
*.swp
.deps/
.dirstamp
.DS_Store
.libs/
.settings/
aclocal.m4
autom4te.cache/
compile
config.guess
Config.h
Config.h.in
config.log
config.status
config.sub
configure
depcomp
gmon.out
install-sh
libtool
ltmain.sh
m4
Makefile
Makefile.in
missing
nbproject
stamp-h1
test-driver
xcuserdata/
Tests/Objectively/Array
Tests/Objectively/Boole
Tests/Objectively/Data
Tests/Objectively/Date
Tests/Objectively/Dictionary
Tests/Objectively/IndexPath
Tests/Objectively/IndexSet
Tests/Objectively/JSON
Tests/Objectively/Log
Tests/Objectively/MutableArray
Tests/Objectively/MutableData
Tests/Objectively/MutableDictionary
Tests/Objectively/MutableIndexSet
Tests/Objectively/MutableSet
Tests/Objectively/MutableString
Tests/Objectively/Null
Tests/Objectively/Number
Tests/Objectively/Object
Tests/Objectively/Operation
Tests/Objectively/Regexp
Tests/Objectively/RESTClient
Tests/Objectively/Resource
Tests/Objectively/Set
Tests/Objectively/String
Tests/Objectively/StringReader
Tests/Objectively/Thread
Tests/Objectively/URL
Tests/Objectively/URLCache
Tests/Objectively/URLSession
Tests/Objectively/Vector
/Objectively.vs15/.vs
.build-xcframework/
Frameworks/
