<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Objectively-Examples.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Objectively-Tests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Objectively-Xcode.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Objectively.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE76D7F91C481B7F0096DD31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE76D9671C48218E0096DD31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE76DA2F1C4B17980096DD31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE76DAA11C4B184E0096DD31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
