*.log
*.trs
Array
Boole
Conditional
Data
Date
Dictionary
IndexPath
IndexSet
JSON
Lock
Log
MutableArray
MutableData
MutableDictionary
MutableSet
MutableString
Null
Number
Object
Operation
Regex
Set
String
StringReader
Thread
URL
URLSession
