*.log
*.trs
Array
Boolean
Conditional
Data
Date
Dictionary
JSON
Locale
Lock
Log
MutableArray
MutableData
MutableDictionary
MutableSet
MutableString
Null
Number
Object
Operation
Regex
Set
String
Thread
URL
URLSession
